{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template ltool_bookmarks/List of the bookmarks list.

    Example context (json):
    {
        "reactionurl_dislike" : "http://moodleurl/local/learningtools/ltool/bookmarks/list.php"
    }
}}

{{! Bookmarks list info block }}
{{#showbookmarks}}
<div class="bookmarks-list-info"> 
	<div class="activity-block">
		{{! Top block }}
		<div class="top-block">
			
			{{! Course fitler block }}
			{{#coursefilter}}
			<div class="course-block">
				<select class="form-control" id="course-select" onchange="location = this.value;">
					<option value="{{pageurl}}"> 
						{{#str}} allcourses, local_learningtools {{/str}}
					</option>
					{{#courses}}
						<option value="{{url}}" {{selected}}>
							{{name}}
						</option>
					{{/courses}}
		        </select>
			</div>
			{{/coursefilter}}{{! End of Course fitler block }}

			{{! Sort filter block }}
			{{#sortfilter}} 
			<div class="sort-block">
				<i class="{{iclass}}" id="bookmarkssorttype" data-type={{sorttype}}></i>
				<select class="form-control" id="sort-select" onchange="location = this.value;">
					<option value="{{datesort}}" {{dateselect}}> 
						{{#str}} sortbydate, local_learningtools {{/str}}
					</option>
					{{#coursesort}}
						<option value="{{coursesort}}" {{courseselect}}> 
							{{#str}} sortbycourse, local_learningtools {{/str}}
						</option>
					{{/coursesort}}
		        </select>
			</div>
			{{/sortfilter}}
			{{! End of Sort filter block }}
		</div>

		{{! Course listing block }}
		{{{pageingbar}}}
		<div class="course-element">
			{{#bookmarks}}
			<div class="course-list {{#courseinstance}} category-block {{/courseinstance}}">
				{{! Course item block }}
	            <div class="course-item">
	                <i class="fa fa-bookmark"></i>
	                <p> {{instance}} </p>
	            </div>
	            {{! Course category block }}
	            <div class="category-item">
	                <p> {{instanceinfo}} </p>
	            </div>
	            <div class="right-block">
	            	{{! Calendar block }}
	                <div class="calendar-block">
	                <p> {{time}} </p>
	                </div>
	                {{! Delete link icon }}
	                <div class="delete-block">
	                    {{{delete}}}
	                </div>
	                {{! view button block }}
	                <div class="button-block">
	                    {{{view}}}
	                </div>
	            </div>
	        </div>
	        {{/bookmarks}}
		</div>	
		{{{pageingbar}}}
		{{! End of Course listing block }}
	</div>
</div>
{{/showbookmarks}}







