.floating-button {



	position: fixed;



    bottom: 10px;



    right: 10px;



    z-index: 1;



}

i.icon.iconsize-big {

	width: 16px;

	height: 16px;

	font-size: 16px;

}

body.scrolled #goto-top-link,

#goto-top-link {

	right: 70px;

    bottom: 20px;

}



.path-local-learningtools #region-main {

	padding: 10px;

}



.floating-button > button {



	width: 50px;



	height: 50px;



	line-height: 40px;



	border: 0;



	border-radius: 50%;



	background: #0f6fc5;



	box-shadow: 2px 5px 5px rgb(0, 0, 0,.2);



	margin-bottom: 5px;



	position: relative;



}



.floating-button > button:focus {



    border: 0;



    box-shadow: none;



    outline: none;



}



|.floating-button  > button i {



	font-size: 20px;



	color: #fff;



}



.floating-button > button:hover {



	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);



}



.floating-button .list-learningtools {



	display: none;



}



.floating-button .list-learningtools.show {



	display: block;



}



.floating-button .list-learningtools > div {



	margin-bottom: 5px;



	position: relative;



}



.floating-button .list-learningtools > div button {



	width: 50px;



	height: 50px;



	border: 0;



	border-radius: 50%;



	background: #e83e8c;



	box-shadow: 2px 5px 5px rgb(0, 0, 0,.2);



	position: relative;



}

.floating-button .list-learningtools > div.ltbookmarksinfo button {

	background: #343a40;

}

.floating-button .list-learningtools > div.ltnoteinfo button {

	background: #17a2b8;

}



.floating-button .list-learningtools > div.ltnoteinfo button span{

	display: none;

}



.floating-button .list-learningtools > div.ltnoteinfo button span.ticked{

	display: block;

}



.floating-button .list-learningtools > div button span {

	color: #fff;

    font-size: 10px;

    width: 25px;

    height: 15px;

    line-height: 15px;

    background: #0f6fc5;

    border-radius: 40%;

	position: absolute;

    top: 0;

    right: -5px;    

}



/*.floating-button .list-learningtools > div button:hover {



	box-shadow: 2px 5px 5px rgb(0, 0, 0,.2);



}*/



.floating-button .list-learningtools > div button:focus {



    border: 0;



    box-shadow: none;



    outline: none;



}



/* .floating-button .list-learningtools > div:nth-child(2) button {



	background: #fd7e14;



}



.floating-button .list-learningtools > div:nth-child(3) button {



	background: #17a2b8;



}



.floating-button .list-learningtools > div:nth-child(4) button {



	background: #dc3545;



}



.floating-button .list-learningtools > div:nth-child(5) button {



	background: #28a745;



} */





.floating-button .list-learningtools > div button p {



	position: absolute;



	top: 0;



	right: 60px;



	display: none;



}



.floating-button .list-learningtools > div button:hover p {

	min-width: 100px;

	color: #fff;

	font-size: 13px;

	line-height: initial;

	background: #e83e8c;

	display: block;

	padding: 0 2px 3px;

    border-radius: 5px;

    margin-top: 13px;

}

.floating-button .list-learningtools > div.ltbookmarksinfo button:hover p {

	background: #343a40;

	

}

.floating-button .list-learningtools > div.ltnoteinfo button:hover p {

	background: #17a2b8;

}





.floating-button .list-learningtools > div button i,

.floating-button .list-learningtools + button i {



	font-size: 26px;

	line-height: 43px;

	color: #fff;



}



/*.floating-button .list-learningtools > div button:hover p {

	color: #fd7e14;

	display: block;



}*/











/*Notes page*/



.top-block {



	text-align: right;

	margin-bottom: 20px;



}



.top-block .course-block,

.top-block #ltnote-coursefilter {

	float: left;

	margin-bottom: 20px;

	margin-right: 15px;

}

.top-block #ltnote-coursefilter, .top-block .ltnote-activityfilter {

	display: inline-block;

	float: left;

	margin-bottom: 15px;

}



/*.top-block > div:first-child {



	float: left;



}*/



.top-block > div.course-element-block {

	float: left;

}

.top-block > div:last-child {



	display: inline-block;



}

.top-block > div.ltbookmarks-coursefilter {

	text-align: left;

	float: none;

	display: block;

}

.top-block > div.ltnote-sortfilter {

	margin-left: 20px;

	margin-bottom: 20px;

}

.top-block > div.ltnote-sortfilter i {

	margin-right: 5px;

}



.top-block > div select {



	min-width: 250px;



	width: auto;



	text-align: left;



	border: 1px solid #ccc;



	border-radius: 5px;



    background: none;



    padding: 5px;



    display: inline-block;

}



.top-block > div select:after {



	float: right;



	margin-top: 10px;



}



.top-block > div.sort-block {

	margin-bottom: 20px

}

.top-block > div.sort-block select {

	border: 0;

	display: inline-block;

}

.top-block > div.sort-block select:focus,

.top-block > div.sort-block select:active,

.top-block > div.sort-block select:focus:active {

	outline: none;

	box-shadow: none;

}





.bookmarks-list-info .activity-block .course-element {

	clear: both;

	margin-top: 20px;

}



/* .top-block > div .dropdown .dropdown-menu {



	border-radius: 5px;



	right: 0;



} */



.ltnotes-mainbody {



	margin-top: 20px;

	clear: both;



}







.ltnotes-mainbody .card {



	border: 0;



	margin-bottom: 20px;



}



.ltnotes-mainbody .card .card-header {



	padding: 0;



	border: 0;



	background: none;



}



.ltnotes-mainbody .card .card-header h5 button {



	width: 100%;



	color: #000;



	font-size: 20px;



    text-align: left;



    text-decoration: none;



	display: block;



}



.ltnotes-mainbody .card .card-header h5 button:after {



	content: '\f103';



	font-family: 'fontawesome';



	float: right;



}



.ltnotes-mainbody .card .card-header h5 button.collapsed:after {



	content: '\f102';



	font-family: 'fontawesome';



}



.ltnotes-mainbody .card .card-body {



	border: 1px solid #eee;



	margin-bottom: 20px;



}



.ltnotes-mainbody .card .card-body .content-block .title-block {



	text-align: right;



}



.ltnotes-mainbody .card .card-body .content-block .title-block h4 {



	font-size: 15px;



    font-weight: bold;



    margin-top: 5px;



    float: left;

    margin-right: 15px;



}



.ltnotes-mainbody .card .card-body .content-block .title-block .details-block {



	display: inline-block;



}



.ltnotes-mainbody .card .card-body .content-block .title-block .details-block .calendar-block {

	margin-right: 5px;

}

.ltnotes-mainbody .card .card-body .content-block .title-block .details-block .btn-block {



	width: auto;



	display: inline-block;

}



.modal .modal-dialog .modal-header h5.modal-title {

	width: 100%;

}

.modal .modal-dialog .modal-header h5.modal-title .popout-block {

	float: right;

    display: flex;

}

.modal .modal-dialog .modal-header h5.modal-title .popout-block #popout-action {

	font-size: 13px;

	color: #000;

    margin-right: 5px;

    display: inline-block;

    vertical-align: middle;

    border: 0;

    background: none;

}

.modal .modal-dialog .modal-header h5.modal-title .popout-block i {

	font-size: 13px;

	line-height: 24px;

	color: #000;

    display: inline-block;

}

.floating-button .list-learningtools > div.ltbookmarksinfo button i + span {

	display: none;

}

.floating-button .list-learningtools > div.ltbookmarksinfo button i.marked + span {

	width: 18px;

	height: 18px;

	line-height: 18px;

	font-size: 10px;

	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

	border-radius: 50%;

	background: #2e9f7f;

	display: block;

	right: -7px;

}



@media (max-width: 575px) {

	.ltnotes-mainbody .card .card-body .content-block .title-block h4 {

		text-align: left;

		float: none;

	}

	.ltnotes-mainbody .card .card-body .content-block .title-block .details-block {

		display: block;

	}

	.ltnotes-mainbody .card .card-body .content-block .title-block .details-block .calendar-block {

		float: left;

	}

}



.modal .modal-body .ltoolusernotes form .editor_atto .editor_atto_content_wrap,

.modal .modal-body .ltoolusernotes form .editor_atto .editor_atto + textarea {

	border: 1px solid #ccc;

}

.modal .modal-body .list-context-existnotes {

    padding: 10px;

    border: 1px solid #ccc;

    margin-top: 20px

}

.modal .modal-body .list-context-existnotes h3 {

	margin-bottom: 20px;

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card {

	margin-bottom: 5px;

	border: 0;

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .card-header {

	padding: 5px;

	border-bottom: 0;

	background: none;

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .card-header h5 button {

	width: 100%;

	color: #000;

	text-align: left;

	text-decoration: none;

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .card-header h5 button:after {

	content: '\f102';

	font-family: 'FontAwesome';

	float: right;

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .card-header h5 button.collapsed:after {

	content: '\f103';

}

.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse {

	border: 1px solid #ccc;

}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .card-body {
	padding: 10px;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .desc-block {
	width: 70%;
	display: inline-block;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .title-block {
	float: right;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .action-block {
	float: right;
	margin-left: 10px;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .action-block .edit-action {
	display: inline-block;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .action-block .delete-action {
	display: inline-block;
}
.modal .modal-body .list-context-existnotes .usernotes-mainbody .card .collapse .content-block .desc-block p:empty {
	display: none;
}
.bookmarks-list-info .activity-block .course-element .course-list {

	display: flex;

	margin-bottom: 15px;

	background: #fff;

	padding: 15px;

	border: 2px solid #ccc;

	align-items: center;

}

.bookmarks-list-info .activity-block .course-element .course-list > div {

	width: 100%;

	margin-right: 5px;

	display: flex;

	align-items: center;

}

.bookmarks-list-info .activity-block .course-element .course-list > div p {

	font-size: 16px;

	font-weight: 600;

	margin-bottom: 0;

}

.bookmarks-list-info .activity-block .course-element .course-list > div i {

	font-size: 16px;

	line-height: 24px;

	margin-right: 30px;

	vertical-align: middle;

}

.bookmarks-list-info .activity-block .course-element .course-list.category-block {

	background: #f1f1f1;

}

.bookmarks-list-info .activity-block .course-element .course-list .category-item p {

	font-size: 16px;

	font-weight: 600;

	color: #999;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block {

	margin-left: 30px;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block .calendar-block {

	margin-right: 30px;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block .calendar-block p {

	font-size: 13px;

	font-weight: normal;

	color: #999;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block .delete-block a {

	color: #000;

	background: none;

	box-shadow: none;

	margin-right: 15px;

	display: inline-flex;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block .delete-block a i {

	font-size: 13px;

	margin-right: 0;

}

.bookmarks-list-info .activity-block .course-element .course-list .right-block .button-block button {

	height: auto;

	color: #fff;

	font-size: 13px;

	font-weight: 500;

	text-decoration: none;

	padding: 4px 10px;

	background: #000;

	display: inline-block;

}



@media (min-width: 501px) and (max-width: 767px) {

	.bookmarks-list-info .activity-block .course-element .course-list > div.category-item {

		width: 60%;

	}

}



@media (max-width: 500px) {

	.bookmarks-list-info .activity-block .course-element .course-list {

		display: block;

	}

	.bookmarks-list-info .activity-block .course-element .course-list > div {

		display: block;

		margin-bottom: 10px;

	}

	.bookmarks-list-info .activity-block .course-element .course-list > div p {

		width: 85%;

		display: inline-block;

		vertical-align: middle;

	}

	.bookmarks-list-info .activity-block .course-element .course-list > div i {

		margin-right: 10px;

	}

	.bookmarks-list-info .activity-block .course-element .course-list > div.category-item {

		width: 100%;

		margin-left: 27px;

	}

	.bookmarks-list-info .activity-block .course-element .course-list .right-block {

		text-align: right;

		margin-left: 0;

		margin-right: 15px;

	}

	.bookmarks-list-info .activity-block .course-element .course-list .right-block .calendar-block {

		text-align: left;

		margin-bottom: 10px;

		margin-left: 27px;

	}

	.bookmarks-list-info .activity-block .course-element .course-list .right-block .calendar-block p {

		width: 100%;

	}

	.bookmarks-list-info .activity-block .course-element .course-list .right-block .delete-block {

		display: inline-block;

	}

	.bookmarks-list-info .activity-block .course-element .course-list .right-block .button-block {

		display: inline-block;

	}

}



@media (max-width: 400px) {

	.bookmarks-list-info .activity-block .course-element .course-list .right-block .calendar-block {

		float: none;

		margin-right: 0;

		display: block;

	}

}