/* Goto top button */
body.scrolled #goto-top-link,
#goto-top-link {
    right: 70px;
    bottom: 20px;
}

/* Usermenu option icon */
.navbar .usermenu .dropdown .dropdown-menu a i.icon.iconsize-big {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

/* learning tools common css */
.path-local-learningtools #region-main {
    padding: 10px;
}

/* Floating button */
.floating-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.floating-button > button {
    width: 50px;
    height: 50px;
    line-height: 40px;
    border: 0;
    border-radius: 50%;
    background: #0f6fc5;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, .2);
    margin-bottom: 5px;
    position: relative;
}
.floating-button > button:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}
.floating-button > button i {
    font-size: 20px;
    color: #fff;
}
.floating-button > button:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.floating-button .list-learningtools {
    display: none;
}
.floating-button .list-learningtools.show {
    display: block;
}
.floating-button .list-learningtools > div {
    margin-bottom: 5px;
    position: relative;
}
.floating-button .list-learningtools > div button {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background: #e83e8c;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, .2);
    position: relative;
}
.floating-button .list-learningtools > div button span {
    width: 25px;
    height: 15px;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    background: #0f6fc5;
    border-radius: 40%;
    position: absolute;
    top: 0;
    right: -5px;
}
.floating-button .list-learningtools > div button:focus {
    border: 0;
    box-shadow: none;
    outline: none;
}
.floating-button .list-learningtools > div button p {
    position: absolute;
    top: 0;
    right: 60px;
    display: none;
}
.floating-button .list-learningtools > div button:hover p {
    min-width: 100px;
    color: #fff;
    font-size: 13px;
    line-height: initial;
    background: #e83e8c;
    display: block;
    padding: 0 2px 3px;
    border-radius: 5px;
    margin-top: 13px;
}

.floating-button .list-learningtools > div button i,
.floating-button .list-learningtools + button i {
    font-size: 26px;
    line-height: 43px;
    color: #fff;
}
