{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template ltool_note/List of the notes list template.

    Example context (json):
    {
        "reactionurl_dislike" : "http://moodleurl/local/learningtools/ltool/note/classes/ltool_note_filter.php"
    }
}}

{{! Note list info block }}
{{#ltnotes}}
	{{! Top block }}
	<div class="top-block">
		{{! Course fitler block }}
		{{#coursefilter}}
			<div class="ltnote-coursefilter" id="ltnote-coursefilter">
				<div class="ltnote-coursefilter" id="ltnote-coursefilter">
					<select class="form-control" name="ltcoursesort" id="ltcoursesort" onchange="location = this.value;">
						<option value="{{pageurl}}">
							{{#str}} allcourses, local_learningtools {{/str}} </a>
						</option>
						{{#courses}}
							<option value="{{url}}" {{selected}}>
								{{name}}
							</option>
						{{/courses}}
					</select>
				</div>
			</div>
		{{/coursefilter}}
		{{! End of Course fitler block }}

		{{! Course activity block }}
		{{#enableactivityfilter}}

			<div class="ltnote-activityfilter" id="ltnote-activityfilter">
				<select class="form-control" id="activityfilter" name="activityfilter" onchange="location = this.value;">
					<option value="{{coursefilterurl}}"> {{#str}}allactiviies, local_learningtools {{/str}} </option>
					{{#activityfilter}}
						<option value="{{filterurl}}" {{selected}}> {{mod}} </option>
					{{/activityfilter}}
				</select>
			</div>
		{{/enableactivityfilter}}
		{{! End of Course activity block }}
		

		{{#sortfilter}} 
			{{! Filter block }}
			<div class="ltnote-sortfilter" id="ltnote-sortfilter">
				<i class="{{iclass}}" id="notessorttype" data-type={{sorttype}}></i>
				<select class="form-control" id="sortfilter" name="sortfilter" onchange="location = this.value;">
					<option value="{{datesort}}" {{dateselect}}> {{#str}}sortbydate, local_learningtools {{/str}} </option>
					{{#coursesort}}
						<option value="{{coursesort}}" {{courseselect}}>{{#str}}sortbycourse, local_learningtools{{/str}}</option>
					{{/coursesort}}
					{{#activitysort}}
						<option value="{{activitysort}}" {{activityselect}}> {{#str}}sortbyactivity, local_learningtools{{/str}} </option>
					{{/activitysort}}
				</select>
			</div>
		{{/sortfilter}}
		{{! End of Filter block }}
	</div>

	{{! Notes block main content }}
	{{{pageingbar}}}
	<div class="ltnotes-mainbody" id="accordion"> 
		{{#records}} 
			<div class="card">
				{{! Card header }}
		      	<div class="card-header" id="headingOne">
		        	<h5 class="mb-0">
		          		<button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{range}}" aria-expanded="true" aria-controls="collapse-{{range}}">
		            		{{title}}
		          		</button>
		        	</h5>
			    </div>
			    {{! End of Card header }}

		      	<div id="collapse-{{range}}" class="collapse {{#active}}show{{/active}}" aria-labelledby="headingOne" data-parent="#accordion">
		      		{{! Card body }}
			      	{{#notes}}
				        <div class="card-body">
				        	{{! Content block }}
				          	<div class="content-block">
					          	{{! Title block }}
					            <div class="title-block">
					              	<h4>{{base}}</h4> {{! Title heading }}
					              	<div class="details-block">
						                <span class="calendar-block">{{time}}</span> {{! Calendar & Time }}
						                <span class="edit-block"> {{{edit}}} </span> {{! Edit icon }}
						                <span class="delete-block">{{{delete}}}</span> {{! Delete icon }}
						                <div class="btn-block"> {{! button block }}
						                  {{{viewurl}}}
						                </div>
					              	</div>
					            </div>
				            	<p> {{{note}}}</p>{{! Description block }}
				          	</div>
				        </div>
			        {{/notes}}
			        {{! End of Card body }}
		      	</div>
		    </div>
		{{/records}}
	</div>
	{{{pageingbar}}}
	{{! Notes block main content }}
{{/ltnotes}}

